.aboutBox {
    height: 100vh;
    display: flex;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.aboutContainer {
    max-width: 90%;
}

.centerSkills {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutHead {
    color: #ffffff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin-bottom: 2vw;
}

details:hover {
    cursor: pointer;
}

.qualityBox {
    margin-top: 5vh;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.programmingSkills {
    font-size: 2.95vmax;
    text-decoration: underline;
    text-decoration-color: #5c488e;
    margin-left: 2vw;
}

@media only screen and (max-width: 600px) {
    .programmingSkills {
        font-size: 4vh;
        text-decoration: underline;
        text-decoration-color: #5c488e;
        margin-left: 2vw;
        margin-top: 5vh;
    }
}

.skillSize {
    font-size: 1.6vmax;
}

@media only screen and (max-width: 600px) {
    .skillSize {
        font-size: 24px;
    }
}

.circleBox {
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.circle {
    height: 12vh;
    width: 12vh;
    background-color: #5c488e;
    border-radius: 50%;
}

.circleIcon {
    color: white;
    margin-top: 1.5vh;
    margin-left: 1.5vh;
    height: 9vh;
    width: 9vh;
}

.dot {
    color: #5c488e;
}

.profileBox {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.profileDescription {
    margin-top: 2vh;
    height:100%;
    font-size: 1.4vmax;
}

.profilePic {
    margin-top: 3vh;
    border-radius: 3%;
    -moz-box-shadow: 0 0 40px black;
    -webkit-box-shadow: 0 0 40px black;
    box-shadow: 0 0 40px black;
}

@media only screen and (max-width: 900px) {
    .profileDescription {
        font-size: 2.3vh;
        margin-top: 4vw;
        margin-bottom: 4vw;
        margin-right: 6vw;
    }

    .profileBox {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {
    .profileDescription {
        font-size: 24px;
        margin-top: 4vw;
        margin-bottom: 4vw;
        margin-right: 6vw;
    }

    .profilePic {
        border-radius: 3%;
        transform: rotate(-2deg);
        -webkit-transform: rotate(-2deg);
        -moz-box-shadow: 0 0 40px black;
        -webkit-box-shadow: 0 0 40px black;
        box-shadow: 0 0 40px black;
    }

    .profileBox {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
