.aboutBox {
    height: 100vh;
    display: flex;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.aboutContainer {
    max-width: 90%;
}

.centerSkills {
    margin-top: 1vmax;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.aboutHead {
    color: #ffffff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vmax;
    margin-bottom: 2vw;
}

details:hover {
    cursor: pointer;
}

.qualityBox {
    margin-top: 5vh;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.programmingSkills {
    font-size: 2.5vmax;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #5c488e;
    margin-left: 2vw;
}
.qualitydescription {
    text-align: center;
    font-size: 1vmax;
}
.skillSize {
    font-size: 2vmax;
}

.circleBox {
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.circle {
    height: 12vh;
    width: 12vh;
    background-color: #5c488e;
    border-radius: 50%;
}

.circleIcon {
    color: white;
    margin-top: 1.5vh;
    margin-left: 1.5vh;
    height: 9vh;
    width: 9vh;
}

.dot {
    color: #5c488e;
}

.profileBox {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.profileDescription {
    margin-top: 2vh;
    height:100%;
    font-size: 1.4vmax;
}

.profilePic {
    margin-top: 3vh;
    border-radius: 3%;
    -moz-box-shadow: 0 0 40px black;
    -webkit-box-shadow: 0 0 40px black;
    box-shadow: 0 0 40px black;
}

@media only screen and (max-width: 600px) {
    .profileDescription {
        font-size: 2.5vmax;
        margin-top: 4vw;
        margin-bottom: 4vw;
        margin-right: 6vw;
    }
    .profileBox {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .programmingSkills {
        font-size: 4vmax;
        margin-top: 5vh;
    }
    .skillSize {
        font-size: 24px;
    }
    .aboutHead {
        font-size: 5vmax;
    }
}
@media only screen and (max-width: 1200px) {
    .profileDescription {
        font-size: 2.5vmax;
        margin-top: 4vw;
    }
    .qualitydescription{
        font-size: 2vmax;
    }
    .programmingSkills {
        margin-top: 4vmax;
        font-size: 4vmax;
    }
    .profileBox {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .aboutHead {
        font-size: 5vmax;
    }
    .skillSize {
        font-size: 2.6vmax;
    }
}

