.App {
  text-align: center;
}
*{
  font-family: Poppins;
}
@media only screen and (max-width: 4000px)
{
  .backGround{
    background: url(background.png) repeat;
    background-size: 100%;
  }
}
@media only screen and (max-width: 980px)
{
  .backGround{
    background: url(m-background.png) repeat;
    background-size: 100%;
  }
}
@media only screen and (max-width: 600px)
{
  .backGround{
    background: url(m-background.png) repeat;
    background-size: 100%;
  }
}


